{% extends 'tasks/base.html' %}
{% block content %}
{% if tasks %}
    {% for task in tasks %}
        <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{task.name}}</h3>
          <p class="card-text mb-auto">{{task.description}}</p>
          <a href="{% url 'about' task.pk %}">View</a>
        </div>
        <div class="col-auto d-none d-lg-block">
        </div>
      </div>
    </div>
    {% endfor %}
{% else %}
    <h2>You have no any Todo`s yet.</h2>
    <h3><a href="{% url 'create' %}"></a></h3>
{% endif %}
{% endblock %}